module_1/.ipynb_checkpoints/

module_2/.ipynb_checkpoints/

module_3/.ipynb_checkpoints/

module_4/.ipynb_checkpoints/

module_5/.ipynb_checkpoints/
module_5/cars_df.csv.zip
module_5/train_df_full_part1.csv.zip
module_5/catboost_info/

module_9/.ipynb_checkpoints/
module_9/img/
module_9/*.csv
module_9/catboost_info/
module_9/*.cbm
module_9/*.hdf5

module_final/.idea/
module_final/.ipynb_checkpoints/
module_final/venv/
