
module_1/.ipynb_checkpoints/Movies_IMBD_v4.1-checkpoint.ipynb
module_2/.ipynb_checkpoints/main-checkpoint.ipynb
module_5/.ipynb_checkpoints/price-predict-checkpoint.ipynb
module_5/.ipynb_checkpoints/01-research-kaggle-df-checkpoint.ipynb
module_5/.ipynb_checkpoints/02-research-df-01-checkpoint.ipynb
module_5/.ipynb_checkpoints/04-research-df-03-checkpoint.ipynb
module_5/.ipynb_checkpoints/03-research-df-02-checkpoint.ipynb
module_5/cars_df.csv.zip
module_5/train_df_full_part1.csv.zip
module_5/.ipynb_checkpoints/01-EDA-kaggle-test-checkpoint.ipynb
module_5/.ipynb_checkpoints/02-EDA-autoru-2020-checkpoint.ipynb
module_5/.ipynb_checkpoints/01-EDAv1-kaggle-test-checkpoint.ipynb
module_5/.ipynb_checkpoints/02-EDAv1-autoru-2020-checkpoint.ipynb
module_5/.ipynb_checkpoints/12-CatBoost-checkpoint.ipynb
module_5/.ipynb_checkpoints/11-ML-blitz-check-checkpoint.ipynb
module_5/.ipynb_checkpoints/Проект - выбираем авто выгодно-checkpoint.ipynb
